<mat-toolbar class="btn btn-info">
<button mat-button class="btn btn-info" routerLink="/welcome" routerLinkActive="active">Welcome</button>
   <button mat-button class="btn btn-info" routerLink="/user-list" routerLinkActive="active">Students List</button>
   <button mat-button class="btn btn-info" routerLink="/user-form" routerLinkActive="active">Register Student</button>
   <button mat-button class="btn btn-info" routerLink="/feedback" routerLinkActive="active">Feedback Questions</button>
  <button mat-button class="btn btn-info" routerLink="/resultuser" routerLinkActive="active">Feedback Results</button>
</mat-toolbar>
<h1> Hi {{currentUser.name}}!</h1>

<p>Welcome!!</p>