<mat-toolbar class="btn btn-info">
<button mat-button class="btn btn-info" routerLink="/welcome" routerLinkActive="active">Welcome</button>
   <button mat-button class="btn btn-info" routerLink="/user-list" routerLinkActive="active">Students List</button>
   <button mat-button class="btn btn-info" routerLink="/user-form" routerLinkActive="active">Register Student</button>
   <button mat-button class="btn btn-info" routerLink="/feedback" routerLinkActive="active">Feedback Questions</button>
   <button mat-button class="btn btn-info" routerLink="/feedbackform" routerLinkActive="active">Add more Questions</button>
  <button mat-button class="btn btn-info" routerLink="/resultuser" routerLinkActive="active">Feedback Results</button>
 </mat-toolbar>
<div class="card my-5">
<div class="card-body">
<table class="table table-bordered table-striped">
<thead class="thead-dark">
<tr>
<th scope="col">Student ID</th>
<th scope="col">Question1</th>
<th scope="col">Question2</th>
<th scope="col">Question3</th>
<th scope="col">Question4</th>
<th scope="col">Question5</th>
<th scope="col">Question6</th>
<th scope="col">Question7</th>
<th scope="col">Question8</th>
<th scope="col">Question9</th>
<th scope="col">Question10</th>
<th scope="col">Question11</th>
<th scope="col">Question12</th>
<th scope="col">Question13</th>
<th scope="col">Question14</th>
<th scope="col">Question15</th>
<th scope="col">Question16</th>
<th scope="col">Question17</th>
<th scope="col">Question18</th>
<th scope="col">Question19</th>
<th scope="col">Question20</th>
<th scope="col">Question21</th>
<th scope="col">Question22</th>
<th scope="col">Question23</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let result of result">
<td>{{ result.id }}</td>
<td>{{ result.question1 }}</td>
<td>{{ result.question2 }}</td>
<td>{{ result.question3 }}</td>
<td>{{ result.question4 }}</td>
<td>{{ result.question5 }}</td>
<td>{{ result.question6 }}</td>
<td>{{ result.question7 }}</td>
<td>{{ result.question8 }}</td>
<td>{{ result.question9 }}</td>
<td>{{ result.question10 }}</td>
<td>{{ result.question11 }}</td>
<td>{{ result.question12 }}</td>
<td>{{ result.question13 }}</td>
<td>{{ result.question14 }}</td>
<td>{{ result.question15 }}</td>
<td>{{ result.question16 }}</td>
<td>{{ result.question17 }}</td>
<td>{{ result.question18 }}</td>
<td>{{ result.question19 }}</td>
<td>{{ result.question20 }}</td>
<td>{{ result.question21 }}</td>
<td>{{ result.question22 }}</td>
<td>{{ result.question23 }}</td>
</tr>
</tbody>
</table>
</div>
</div>