 <mat-toolbar class="btn btn-info">
<button mat-button class="btn btn-info" routerLink="/welcome" routerLinkActive="active">Welcome</button>
   <button mat-button class="btn btn-info" routerLink="/user-list" routerLinkActive="active">Students List</button>
   <button mat-button class="btn btn-info" routerLink="/user-form" routerLinkActive="active">Register Student</button>
   <button mat-button class="btn btn-info" routerLink="/feedback" routerLinkActive="active">Feedback Questions</button>
   <button mat-button class="btn btn-info" routerLink="/feedbackform" routerLinkActive="active">Add more Questions</button>
  <button mat-button class="btn btn-info" routerLink="/resultuser" routerLinkActive="active">Feedback Results</button>
</mat-toolbar>
<div class="container">
<div class="card my-5">
<div class="card-body">
<table class="table table-bordered table-striped">
<thead class="thead-dark">
<tr>
<th scope="col">Question No.</th>
<th scope="col">Questions</th>
<th scope="col">Update</th>
<th scope="col">Delete</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let admin of admins">
<td>{{ admin.id }}</td>
<td>{{ admin.questions}}</td>
<td><button (click)="editUser(admin)"  class="btn btn-info"><i class="fa fa-futboll-0">Update</i></button></td>
<td><button (click)="deleteUser(admin)" class="btn btn-info"><i class="fa fa-futboll-0">Delete</i></button></td>
</tr>
</tbody>
</table>
<div class="container">
   <div>
   <label for="selection"><b>Selected Question to edit</b></label><br/><br/>
    <label for="name">Question Id:</label>
<input type="text" [(ngModel)]="selectedQuestion.id"  class="form-control" id="id" name="id" readonly placeholder="Question Id"
required #id="ngModel">
       <label for="name">Question:</label>
<input type="text" [(ngModel)]="selectedQuestion.questions"
class="form-control"
id="que"
name="que"
placeholder="Question"
required #que="ngModel">
     <br/>
<br/>
     <button class="btn btn-primary" (click)="editQuestions()">Update</button> &nbsp; &nbsp;
<button class="btn btn-primary" >Clear</button>
   </div>
</div>
</div>
</div>
</div>
